@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1E1E1E;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    background-color: #1E1E1E;
    overflow: hidden;
}
.mainhead{
    font-family: 'Fondamento', cursive;
}
.mainhead,.btn-grad,.para1,.para2,.endparahead{
    background: -webkit-linear-gradient(#FF7C33,#FCE043,#FF7D7D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-grad{
    border-width: 4px;
}
